<template>
	<article class="mt-4 mb-3 pb-5">
		<b-container fluid="md" class="article-content">
			<h1>{{article.title}}</h1>
			<span class="date">{{article.date}}</span>
			<p class="mt-4 lead-text"></p>
			<div class="article-img mb-4" :style="getBgImageUrl(`${article.img}`)"></div>
			<nuxt-content :document="article" />
		</b-container>
	</article>
</template>

<script>
export default {
	async asyncData({ $content, params }) {
		const article = await $content('blog', params.slug).fetch()
		return {
			article
		}
	},
	methods: {
		getBgImageUrl(img) {
			return { backgroundImage: 'url(' + require(`~/assets/resources/${img}`) + ')' }
		}
	}
}
</script>

<style lang="scss" scoped>

	::v-deep .article-content{
		.date {
			color:$grey-light;
			font-size: rem(18px);
		}
		.article-img {
			height: rem(250px);
			max-width: 100%;
			background-repeat: no-repeat;
			background-position: 0% 75%;
			background-size: cover;
			@include screen('medium'){
				height: rem(350px);
			}
		}

		p {
			font-family: 'Roboto';
			@include screen('medium'){
				font-size: rem(19px);
			}
		}

		p.lead-text {
			font-size:rem(17px);
		}
	}
</style>
