@import './variables';

* {
    box-sizing: border-box;
}

html * {
	font-size:$base-font-size;
}

p, h1, h2, h3, h4, h5, h6 {
	font-family: "Roboto";
}

a {
	&:hover {
        text-decoration: none;
    }
}

ul {
	list-style-type: none;
	padding:0;
}

// transitions
.home-enter-active, .home-leave-active { transition: opacity .3s; }
.home-enter, .home-leave-active { opacity: 0; }

