
  @mixin screen($size) {
    $extra-large: "(min-width: 1200px)";
    $large: "(min-width: 992px)";
	$medium: "(min-width: 768px)";
    $small: "(min-width: 575px)";
	$extra-small: "(max-width: 575.98px)";
    @if $size == extra-large {
      @media only screen and #{$extra-large} {
        @content;
      }
    }
    @else if $size == large {
      @media only screen and #{$large} {
        @content;
      }
    }
	@else if $size == medium {
		@media only screen and #{$medium} {
		  @content;
		}
	  }
    @else if $size == small {
      @media only screen and #{$small} {
        @content;
      }
    }
	@else if $size == extra-small {
		@media only screen and #{$extra-small} {
		  @content;
		}
	  }
}

// Requires display: inline-block;
@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

