<template>
	<footer class="text-center">
		<span>© {{ currentYear }} - Nuxt JS - Vue JS:</span>
	</footer>
</template>

<script>
export default {
	computed: {
		currentYear() {
			return new Date().getFullYear()
		}
	}
}
</script>

<style lang="scss" scoped>
	footer {
		height: rem(75px);
		background-color: $grey-dark;
		color: white;
		span {
			display: inline-block;
			@include vertical-align();
		}
	}
</style>
