<template>
	<header>
		<b-navbar toggleable="lg" type="dark" variant="dark">
			<b-navbar-brand to="/">
				<b-avatar class="mr-3" size="3rem"></b-avatar>
				Nuxt Demo Blog
			</b-navbar-brand>
			<b-navbar-toggle target="nav-collapse" />
			<b-collapse id="nav-collapse" is-nav>
				<!-- Right aligned nav items -->
				<b-navbar-nav class="ml-auto">
					<b-nav-item to="/">
						Home
					</b-nav-item>
					<b-nav-item to="/about/about">
						About
					</b-nav-item>
					<b-nav-item to="/about2">
						Error
					</b-nav-item>
				</b-navbar-nav>
			</b-collapse>
		</b-navbar>
	</header>
</template>

<script>
export default {}
</script>

<style lang="scss" scoped>
	.nav-item {
		font-size: rem(20px);
	}
</style>
