<template>
	<div class="container d-flex justify-content-center">
		<div v-if="error.statusCode === 404" class="error-container">
			<p class="h1 mt-5 mb-4">
				<b-icon-exclamation-triangle variant="danger" class="mr-2" animation="throb"></b-icon-exclamation-triangle>
				Error <span>404</span>. We couldn't find this page
			</p>
			<b-img v-bind="imgProps" src="~/assets/resources/error404.png"></b-img>
			<b-button variant="info" to="/" size="lg" class="mt-4">
				Back to home page
			</b-button>
		</div>
		<div v-else class="error-container">
			<p class="mt-5 mb-4">
				<b-icon-exclamation-triangle variant="danger" class="mr-2" animation="throb"></b-icon-exclamation-triangle>
				Unexpected error occurred
			</p>
			<b-img v-bind="imgProps" src="~/assets/resources/un-error.png"></b-img>
			<div>
				<b-button variant="info" to="/" size="lg" class="mt-4">
					Back to home page
				</b-button>
			</div>
		</div>
	</div>
</template>

<script>
import { BIconExclamationTriangle } from 'bootstrap-vue'

export default {
	components: {
		BIconExclamationTriangle
	},
	props: ['error'],
	data() {
		return {
			imgProps: {
				class: 'm1',
				fluid: true,
				rounded: true,
				center: true,
				alt: 'Error image'
			}
		}
	}
}
</script>

<style lang="scss" scoped>
	.container {
		height: 100vh;

		.error-container {
			max-width: rem(650px);

			span {
				background: -webkit-linear-gradient(rgb(247, 200, 162), rgb(2, 17, 148));
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}

			p {
				font-size: rem(20px);
				color:$grey-dark;
				@include screen('medium'){
					font-size: rem(35px);
				}
			}
		}
	}

</style>
