<template>
	<b-container class="main-container about">
		<h2 class="mt-5">
			{{articles.title}}
		</h2>
		<nuxt-content :document="articles" />
	</b-container>
</template>

<script>
// import { defineComponent } from '@vue/composition-api'

export default {
	async asyncData({ $content, params }) {
		const articles = await $content('about', params.slug)
			.fetch()
		return {
			articles
		}
	}
}
</script>

<style lang="scss" scoped>
	.main-container {
		padding-bottom: rem(150px);    /* Footer height */
	}
	::v-deep.about {
		ul {
			list-style-type: disc;
			padding-left: rem(20px);
		}
	}
</style>
