<template>
	<b-container class="main-container">
		<h2 class="mt-5 mb-5">
			Latest Posts
		</h2>
		<ul class="posts-container mt-4">
			<li v-for="article of articles" :key="article.slug" class="single-post">
				<nuxt-link :to="{ name: 'post-slug', params: { slug: article.slug }}">
					<div>
						<b-img v-bind="imgProps" :src="getImageUrl(`${article.img}`)"></b-img>
					</div>
					<div class="text-container pt-3">
						<h3>{{ article.title }}</h3>
						<p class="lh-sm">
							{{ article.description }}
						</p>
					</div>
				</nuxt-link>
				<hr>
			</li>
		</ul>
	</b-container>
</template>

<script>
export default {
	transition: {
		name: 'home',
		mode: 'out-in',
		appear: true
	},
	async asyncData({ $content, params }) {
		const articles = await $content('blog', params.slug)
			.only(['title', 'description', 'img', 'slug', 'tag'])
			.sortBy('createdAt', 'asc')
			.fetch()
		return {
			articles,
			imgProps: {
				center: true,
				fluid: true,
				alt: 'Article Snapshot'
			}
		}
	},
	methods: {
		getImageUrl(img) {
			return require(`~/assets/resources/${img}`)
		}
	}
}
</script>

<style lang="scss" scoped>

.main-container {
  padding-bottom: rem(150px);    /* Footer height */
}

.posts-container {
	@include screen('medium') {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-gap: rem(25px);
		}
	.single-post {
		.text-container {
			h3 {
				color: $grey-dark;
				font-weight: bold;
			}
			p {
				color: $grey;
			}
		}

		hr {
			border-top: rem(2px) solid $grey-light;
		}
	}
}

</style>
